@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(document).ready(function () {
        $('#btnAdd').click(function () {
            Add();
        });
        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Assunto")';
        });
        $('#alertMessage').hide('show');

    });


    function Add() {
        $('#pleaseWaitDialog').show();
        var erroMessagem = GetValidation();
        if (erroMessagem == '') {
            $.ajax({
                type: "GET",
                data: GetValue(),
                url: '@Url.Action("Save", "Assunto")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li class="small">Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').hide();
                },
                success: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    ClearControl();
                    $('#pleaseWaitDialog').hide();
                }
            });
        }
        else {
            $('#alertMessage').show('show');
            $('#message').html(erroMessagem);
            $('#pleaseWaitDialog').hide();
        }
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#txtNome').val() == '') {
            erroMessage = '<li class="small">O campo nome é obrigatório.</li>';
        }
        return erroMessage;
    }

    function GetValue() {
        var nome = $('#txtNome').val();
        return { nome: nome };
    }

    function ClearControl() {
        $('#txtNome').val('');
    }


</script>
<fieldset>
    <div class="panel panel-default">
        <div class="panel-body">
            Novo
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" id="txtNome" class="form-control input-small" placeholder="Nome">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-actions">
                        <button type="button" id="btnAdd" class="btn btn-primary btn-xs">Salvar</button>
                        <button type="button" id="btnVoltar" class="btn btn-primary btn-xs">Voltar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Processando...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class=" bar " style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="alert alert-info" id="alertMessage">
        <h4>Atenção</h4>
        <ul id="message"></ul>
    </div>
</fieldset>