@{
    ViewBag.Title = "Divulgue seu imóvel";
}
<div class="institucional">
    <div class="max-width">   
        <h1>Divulgue seu imóvel</h1>
        <h2>É corretor de imóveis? Divulgue o seu imóvel em nossa vitrine.</h2>
    </div>
</div>
<div class="max-width">
    <div class="content-inst">
        
<h3>Nosso website é a solução ideal para quem quer vender ou comprar!</h3>
<img class="float-r" src="@Url.Content("~/Content/Images/hotspot-divulgue.jpg")" />
<p>Nulla facilisi. In at eros euismod, malesuada eros et, pretium erat. Cras lobortis sodales nunc, sed consequat mi blandit non. Integer adipiscing, risus non gravida varius, nunc felis pellentesque tortor, nec fringilla urna turpis non nisi. Aenean tincidunt iaculis rhoncus. Proin sed eros et libero pretium interdum. Vestibulum congue risus at ante egestas imperdiet. Curabitur ut vulputate elit. Nam tempus, arcu quis interdum sodales, lectus odio tempor nisl, ac malesuada dolor tortor accumsan sapien. Donec aliquam arcu sit amet convallis placerat.</p>

<p><strong>Entre em contato conosco através da página <a href="@Url.Action("index","FaleConosco")">Fale Conosco</a>, e solicite o seu cadastro!</strong></p>

    </div>
    <div class="clear"></div><br /><div class="clear"></div>
</div>

