@{
    ViewBag.Title = "Index";
}
<div class="institucional">
    <div class="max-width">   
        <h1>Fale Conosco</h1>
        <h2>Está com dúvidas? Sugestões? Ou, se interessou por alguma oportunidade?</h2>
    </div>
</div>
<div class="max-width">

    <form class="form-contato">
        <label>
            Nome<br />
            <input type="text" />
        </label>
        <label>
            E-mail<br />
            <input type="text" />
        </label>
        <label class="middle">
            Celular<br />
            <input type="text" />
        </label>
        <label class="middle float-r">
            Telefone<br />
            <input type="text" />
        </label>
        <label>
            Assunto<br />
            <select>
                <option>Imóveis</option>
                <option>Informações osbre processo</option>
                <option>Quero anunciar o meu imóvel</option>
            </select>
        </label>
        <label>Mensagem<br />
            <textarea>

            </textarea>
        </label>
        <button class="btn float-r">ENVIAR MENSAGEM</button>
    </form>
        
          <div class="content-inst float-r">  
            
<h3>Você também pode entrar em contato conosco por telefone...</h3>
<ul>
    <li>11 - XXXXX XXXX</li>
    <li>11 - XXXX XXXX</li>
</ul>
              <strong class="red">Horário de atendimento:</strong>
              <br /><small>De segunda à sexta das 08:00 às 18:00hr.</small>
    </div>
    <div class="clear"></div><br /><div class="clear"></div>
</div>