@{
    ViewBag.Title = "Sobre a Credbox";
}
<div class="institucional">
    <div class="max-width">   
        <h1>Sobre a CredBox</h1>
        <h2>Estamos presente no mercado de crédito à mais de XX Anos!</h2>
    </div>
</div>
<div class="max-width">
    <div class="content-inst">
        <img class="float-r" src="@Url.Content("~/Content/Images/page-credbox.jpg")" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo pellentesque augue quis blandit. Vestibulum metus massa, sagittis in dolor ut, lacinia scelerisque dolor. Praesent ultricies tincidunt leo, placerat viverra dolor porta ac. Proin id facilisis nunc. Curabitur semper, mauris at sollicitudin ullamcorper, tortor augue tincidunt odio, a aliquam neque diam a nulla. Aliquam tristique sodales lorem, a sagittis leo pellentesque vel. Quisque cursus orci eget libero posuere tristique. Donec magna metus, tempor quis enim dictum, varius egestas magna. Suspendisse aliquam leo id nisl fermentum, a tristique quam tincidunt. Nunc sed egestas ante, sit amet porttitor nunc.</p>

<p>Nulla facilisi. In at eros euismod, malesuada eros et, pretium erat. Cras lobortis sodales nunc, sed consequat mi blandit non. Integer adipiscing, risus non gravida varius, nunc felis pellentesque tortor, nec fringilla urna turpis non nisi. Aenean tincidunt iaculis rhoncus. Proin sed eros et libero pretium interdum. Vestibulum congue risus at ante egestas imperdiet. Curabitur ut vulputate elit. Nam tempus, arcu quis interdum sodales, lectus odio tempor nisl, ac malesuada dolor tortor accumsan sapien. Donec aliquam arcu sit amet convallis placerat.</p>

<p>Nulla ullamcorper vehicula lectus sed rhoncus. Aenean auctor imperdiet massa a congue. Aenean sed tortor pharetra, ultrices felis at, lacinia arcu. Phasellus tincidunt risus eget velit malesuada, non ultricies purus venenatis. Morbi quis aliquam lacus, sed fringilla nulla. Ut et justo egestas, tristique ipsum id, porttitor nibh. Mauris tristique, lacus sed pharetra pharetra, diam mauris dignissim dui, ut malesuada magna nibh sit amet nunc. Aliquam commodo porttitor ligula hendrerit porttitor. Praesent porttitor diam vel turpis interdum fermentum. Donec nec metus ut nunc cursus euismod a sed mauris. Sed ante purus, vehicula eu iaculis vel, commodo ac quam.</p>

<p>Aliquam erat volutpat. Nam id augue justo. Morbi vel massa est. Duis libero mauris, facilisis vel consectetur ac, lacinia eu dolor. Pellentesque convallis mi sit amet blandit tristique. Morbi dui nibh, vestibulum eu nibh a, egestas euismod justo. Quisque ornare nisl purus, ac tristique ante consectetur in. Sed pellentesque urna eget cursus consectetur. Etiam laoreet justo sed nunc mollis venenatis. Morbi erat sem, semper sed sodales non, porttitor in ligula. Donec pretium, quam ac ultricies fringilla, nulla ipsum elementum urna, et mattis diam eros in quam. Duis imperdiet metus at rutrum porttitor. Integer pulvinar sem libero, non elementum augue fermentum pulvinar.</p>

<p>Nullam et tempor diam. Vestibulum fringilla diam vel urna malesuada, blandit semper felis malesuada. Mauris vitae fringilla libero, vel viverra augue. Nulla dignissim tortor eu tellus suscipit elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget auctor sapien. Suspendisse nec elementum neque. Nunc at metus sed sem euismod sagittis. Aenean vehicula turpis ut justo venenatis accumsan. Vestibulum pulvinar facilisis sem pellentesque consequat. Curabitur lacinia iaculis libero at hendrerit. Maecenas sit amet dictum erat, id tristique erat. Nulla condimentum dui in risus volutpat egestas. Quisque mattis id justo id accumsan. Nulla faucibus sapien vel sapien fringilla ullamcorper. </p>
    </div>
</div>

