@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#btnAdd').click(function () {
            Add();
        });
        $('#alertMessage').hide('show');

    });


    function Add() {
        $.ajax({
            type: "GET",
            data: GetValue(),
            url: '@Url.Action("Save", "Tipo")',
            error: function (data) {
                $('#alertMessage').show('show');
                $('#message').text('Não foi possível processar sua solicitação. Tente novamente mais tarde.');
            },
            success: function (data) {
                $('#alertMessage').show('show');
                $('#message').text(data);
            }
        });
    }

    function GetValue() {
        var nome = $('#txtNome').val();
        return { nome: nome };
    }


</script>


<h2>Add</h2>


<fieldset>
    <div class="control-group">
        <label class="control-label" for="name">Nome</label>
        <div class="controls">
            <input type="text" id="txtNome" />
        </div>
    </div>

    <div class="form-actions">
        <button type="button" id="btnAdd" class="btn btn-primary btn-large">Adicionar</button>
        <a href="@Url.Action("List","Tipo")" class="btn">Cancelar</a>
    </div>

    <div class="alert alert-success" id="alertMessage">
        <h4>Atenção</h4>
        <ul><li id="message"></li> </ul>
    </div>
</fieldset>
