@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(document).ready(function () {
        $('#btnAdd').click(function () {
            Add();
        });

        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Tipo")';
        });
        $('#alertMessage').hide('show');

    });


    function Add() {
        $('#pleaseWaitDialog').show();
        var erroMessage = GetValidation();
        if (erroMessage == '') {
            $.ajax({
                type: "GET",
                data: GetValue(),
                url: '@Url.Action("Save", "Tipo")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').hide();
                },
                success: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    ClearControl();
                    $('#pleaseWaitDialog').hide();
                }
            });
        }
        else {
            $('#alertMessage').show('show');
            $('#message').html(erroMessage);
            $('#pleaseWaitDialog').hide();
        }
    }

    function GetValue() {
        var nome = $('#txtNome').val();
        return { nome: nome };
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#txtNome').val() == '') {
            erroMessage = '<li>O campo nome é obrigatório.</li>';
        }

        return erroMessage;
    }

    function ClearControl() {
        $('#txtNome').val('');
    }


</script>

<h2>Add</h2>

<fieldset>
    <div class="control-group">
        <label class="control-label" for="name">Nome</label>
        <div class="controls">
            <input type="text" id="txtNome" />
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="btnAdd" class="btn-primary btn-small">Salvar</button>
        <button type="button" id="btnVoltar" class="btn-primary btn-small">Voltar</button>
    </div>
    <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Processando...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class=" bar " style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" id="alertMessage">
        <h4>Atenção</h4>
        <ul id="message"></ul>
    </div>
</fieldset>
