@{
    ViewBag.Title = "Imovel";
}
<div class="max-width imovel">
    <h2>Panamby - São Paulo - SP</h2><div class="clear"></div>
    <div class="imovel-bigcard float-l">
        <img src="@Url.Content("~/content/images/grande-imovel.jpg")" />
        <strong>Outras fotos</strong>
        <ul>
            <li><img src="@Url.Content("~/content/images/thumb-imovel.jpg")" /></li>
        </ul>
    </div><div class="clear"></div>
</div>